h1 {
    font-size: 80px;
    font-family: Impact;
}
div {
    display: block;
    unicode-bidi: isolate;
    text-align: center;
}

p{
    font-size: 35px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}

button {
    width: 250px;
    height: 80px;
    background-color: blue;
    color: white;
}
button:hover{
    background-color: green; 
}